a {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

a:hover {
	color: inherit; /* blue colors for links too */
	text-decoration: inherit; /* no underline */
}

.blog-img {
	object-fit: contain;
}