/*A New Way To Ride*/
.strip1 {
	/*position: relative;*/
	background-image: url("images/road_picture_cropped.jpg");
	color: white;
	display: block;
}

.a-new-way-to-ride {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 	4vh;
}
/*A New Way To Ride*/

/*Search Region*/
.search {
	background-color: #def;
	min-height: 15%;
	display: block;
	position: relative;
	width: 100%;
}

.search h2 {
	position: absolute;
	left: 50%;
	top: 25%;
	transform: translate(-50%,-50%);
	font-size: 	3vh;
}

.search ul {
	position: absolute;
	list-style: none;
	bottom: 25%;
	left: 20%;
	transform: translate(0%,50%);
	width: 60%;
}

.search li {
	display: inline;
	margin-right: 2.5%;
}

.search	button {
	width: 16.7%;
}

::placeholder {
	color: #eee;
}

.search_input {
	height: 3vh;
	background-color: #034cb9;
	color: white;
	width: 16.7%;
}
/*Search Region*/

/*Recent Rides*/
/*Repeater*/
#repeater1 {
	width: 	30%;
	left: 50%;
	top: 0%;
	height: 100%;
	position: 	absolute;
}

#repeater1 li{
	list-style: none;
	min-height: 	17%;
	position: 	relative;
	border-radius: 	20px;
	border-style: 	solid;
	border-width: 	2px;
	margin-top: 1%;
	background-color: 	white;
}

.repeater1_text {
	position: 	absolute;
	left: 	5%;
	top: 5%;
}

.repeater1_text2 {
	position: 	absolute;
	right: 50%;
	color: red;
}
/*Repeater*/

.recent_rides {
	position: 	relative;
	display: 	block;
	height: 50%;
}

.recent_rides div {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 	40%;
	padding: 5%;
}

.recent_rides h3 {
	color: white;
	font-size: 	8vh;
	text-align: center;
}
/*Recent Rides*/

/*Strip2*/
.strip2 {
	display: block;
}
/*Strip2*/

/*How It Works*/
.how_it_works {
	position: 	relative;
	display: 	block;
	height: 50%;
}

.how_it_works h3 {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 	30%;
	padding: 5%;
	color: white;
	font-size: 	8vh;
	text-align: center;
}

.how_it_works_p {
	width: 	40%;
	left: 40%;
	top: 0%;
	height: 100%;
	position: 	absolute;
	background-color: #fff;
	opacity: 0.7;
}

.how_it_works_p h5 {
	opacity: 1;
	font-size: 	3vh;
	text-align: center;
	margin: 5%;
}

.how_it_works_p p {
	opacity: 	1;
	font-size: 	2vh;
	text-align: center;
	margin-left: 5%;
	margin-right: 	5%;
	line-height: 2;
}
/*How It Works*/