* {
        font-size: 62.5%;
        margin: 0;
        padding: 0;
}

html {
	width: 100%;
}

body {
	width: 100%;
}

#header {
	padding-right: 10%;
	padding-left: 10%;
	background-color: #545454;
}


#navbar {
	display: grid;
	grid-template-areas:
		'logo spacer home about next-year past-trips';
}

#logo {
	grid-area: logo;
	max-height: 6rem;
	margin: auto;
	margin-left: 0;
}

#logo img {
	max-height: 6rem;
}

.pages {
	color: #FDB515;
	text-decoration: none;
	font-size: 2rem;
	margin: auto;
	margin-right: 0;
}

#spacer {
	grid-area: spacer;
	min-width: 15rem;
}

#home-button {
	grid-area: home;
}

#about-button {
	grid-area: about;
}

#next-year-button {
	grid-area: next-year;
}

#past-trips-button {
	grid-area: past-trips;
}
